html{
    background-image: url(../images/bats.gif);
}

body{
    font-family: sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid black;
    box-shadow: 1px 5px 8px 3px;
    background: white;
}
a:link, a:visited{
    color:orange;
    font-weight: bold;
    line-height: 150%;
}
a:focus, a:hover{
    color: green;
}

header{
    background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
    border-bottom: 3px solid black;
    padding: 1em 0 1em 0;ã€
    margin-bottom: 0;
}
header img{
    float: left;
    padding: 0 0 0 15px;
}
header h2{
    margin: 0;
    font-size: 200%;
    text-indent: 30px;
}
header h3{
    margin: 0;
    font-size: 130%;
    text-indent: 30px;
}

#nav_menu ul {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    list-style: none;
    position: relative; 
    margin-top: 0px;
}
#nav_menu ul li { 
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#nav_menu ul li a {
    color: white;
    text-decoration: :none;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 26px;
    text-align: center;
}               
#nav_menu ul ul li { 
    float: none;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#nav_menu ul ul li:hover {
    background-color: gray;
}
#nav_menu ul li:hover > ul {
    display: block; 
}
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both; 
}

.current a:visited{
    color: orange;
}  

.shadow{
    text-shadow: 2px 2px 2px black;
}

main span{
    font-size: 200%;
}
main{
    clear: left;
    padding: 0;
}
main h2{
    font-size: 130%;
    padding: 5px 0 5px 5px;
}
main h3{
    font-size: 110%;
    padding: 5px 0 5px 5px;
}

aside ul{
    float:left;
    background-color: white;
}
aside ul li{
    border: 1px solid black;
    background-color: orange;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 100%
}
aside ul a:link{
    font-size: 100%;
    color: black;
}
table{
    border-collapse: collapse;
    width: 400px;
    margin-left: 200px;
    margin-bottom: 10px;
}
figcaption{
    font-size: 200%;
    text-align: center;
}
th, td{
    margin: 0;
}
.title1, .title2{
    text-align: left;
    color: gray;
}
.title3{
    text-align: right;
    color: gray;
}
.row1{
    text-align: left;
    padding-bottom: 50px;
    font-size: 100%;
}
.row3{
    text-align: right;
    background-color:#F5DEB3;
}
table a{
    color: black;
}

footer{
    clear: both;
    border-top: 3px solid black;
    padding: 1em 0 1em 0;
    background-image: repeating-linear-gradient(45deg, black 0%, orange 25%, white 100%);
}
footer p{
    font-size: 80%;
    text-align: center;
}
