*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Times New Roman;
}
.clear{
    clear: both;
 }
.header{
    width: 100%;
    height: 171px;
}
.header .top{
    width: 100%;
    height: 5px;
    background: orange;
}
.header .log{
    width: 837px;
    height: 116px;
    margin: 0 auto;
}
.log .left{
    float: left;
    width: 550px;
    height:90px ;
    background: url("../img/AUM%20head.png")no-repeat 0 0;
    margin-top: 15px;
}
.log .right{
    float: left;
    width: 287px;
    height: 38px;
    background: #feea24;
    margin-top: 35px;
}

.right form input{
    width: 287px;
    height: 38px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left:5px;
}
.right form input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.header .menu{
    width: 100%;
    height: 50px;
    background: orange;
}
.menu .menu_list{
    width: 996px;
    margin: 0 auto;
}
.menu .menu_list ul li{
    line-height: 50px;
    padding:0px 24.5px;
    list-style: none;
    float: left;
}
.menu .menu_list ul li:hover{
    background: darkorange;
}
.menu .menu_list ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.content{
    width: 996px;
    height: 1175px;
    margin: 0 auto;
}
.content .content_img{
    width: 996px;
    height: 365px;
    background: url("../img/AUM.jpg") no-repeat 0 0;
    background-size: 996px 365px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content_top .content_top_left{
    float: left;
    width: 479px;
    height: 366px;

}
.content_top_left .content_top_title{
    height: 44px;
    width: 479px;
    background: orange;
}
.content_top_title p{
    float: left;
    line-height: 44px;
    margin-left: 10px;
    font-size: 16px;
    color: white;
}
.content_top_title img{
    float: right;
    margin-top: 18px;
    margin-right: 5px;
}
.content_top .content_top_list{
    width: 477px;
    height: 310px;
    margin-top: 10px;
    border: 1px solid #eeeeee;
}
.content_top_list ul{
    /*border: 1px solid #eee;*/
    list-style: none;
}
.content_top_list ul li{
    width: 477px;
    height: 31px;
    line-height: 31px;
    display: inline-block;
}
.content_top_list ul li a{
    width: 240px;
    text-decoration: none;
    color: #5c5c5c;
}
.content_top_list ul li a:hover{
    color: orange;
}
.content_top_list ul li a img{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.content_top_list ul li a span{
    margin-left: 10px;
    float: left;
    display: block;
    width: 388px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.content_top_list ul li a em{
    float: right;
    display: block;
    font-style: normal;
}

.content_top .content_top_right{
    float: right;
    width: 477px;
    height: 370px;
    background: url("../img/AUM%20News.jpg") no-repeat 0 0;
    background-size: 477px 370px;
}

.content .content_middle{
    width: 100%;
    height: 344px;
    margin-top: 20px;
}

.content_middle .middle_title_one{
    width: 312px;
    height: 344px;
    float: left;
}

.content_middle .middle_title_two{
    width: 312px;
    height: 344px;
    float: left;
    margin-left: 29px;
}

.content_middle .middle_title_three{
    width: 312px;
    height: 344px;
    float: right;
}


.title{
    height: 44px;
    width: 312px;
    background: orange;
}

.title p{
    float: left;
    line-height: 44px;
    margin-left: 10px;
    font-size: 16px;
    color: white;
}
.title img{
    float: right;
    margin-top: 18px;
    margin-right: 5px;
}
.list{
    width: 312px;
    height: 288px;
    margin-top: 10px;
    border: 1px solid #eeeeee;
}
.list ul{
    list-style: none;
}
.list ul li{
    width: 312px;
    height: 31px;
    line-height: 31px;
    display: inline-block;
}
.list ul li a{
    width: 240px;
    text-decoration: none;
    color: #5c5c5c;
}
.list ul li a:hover{
    color: orange;
}
.list ul li a img{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.list ul li a span{
    margin-left: 10px;
    float: left;
    display: block;
    width: 223px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.list ul li a em{
    float: right;
    display: block;
    font-style: normal;
}

.content_bottom{
    width: 100%;
    height: 35px;
    margin-top: 20px;
}
.content_bottom .bottom_one{
    float: left;
    text-align: center;
    width: 113px;
    height: 30px;
    background: red;
}
.bottom_one span{
    display: inline-block;
    width: 113px;
    font-size: 14px;
    color: white;
    line-height: 30px;
}

.content_bottom .bottom_two{
    float: right;
    width: 856px;
    height: 30px;
    text-align: center;
}

.bottom_two a{
    padding: 0 12px;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
    color: #1b1b1b;
    border-right: 3px solid #ccc;
}

#none{
    border-right: none;
}

.footer{
    width: 100%;
    height: 92px;
    background: orange;
}
.footer .footer_content p{
    color: white;
    text-align: center;
    line-height: 92px;
    font-size: 13px;
}
